{% include header.html %}

<main id="projects-wrapper">
    <div class="projects">
        <a id="elected-officials-proj" href="http://www.elected-officials.org" target="_blank" alt="Elected Officials API"></a>
        <a id="district-labs-proj" href="http://www.districtlabs.io" target="_blank" alt="District Labs - a software and technical management consultancy"></a>
        <a id="bathy-proj" alt="Marine GIS project samples"></a>
        <a id="rsn-proj" href="http://www.interactiveoceans.washington.edu/story/The_OOI_RSN_Cable_System" target="_blank" alt="RSN/OOI NSF Project"></a>
        <a id="museums-proj" href="http://geology.cofc.edu/natural-history-museum#tertiary-header" target="_blank" alt="Mace Brown Museum of Natural History at the College of Charleston"><div></div></a>
        <a id="boyd-law-proj" href="http://www.boydlegalpllc.com/" target="_blank" alt="Boyd Law PLLC"></a>
    </div>
    <div class="project-detail-wrapper close"></div>
</main>

{% include footer.html %}
