{% include header.html %}

<main id="projects-wrapper">
    <div class="projects">
        <a id="elected-officials-proj" href="http://www.elected-officials.org" target="_blank"></a>
        <a id="district-labs-proj" href="http://www.districtlabs.io" target="_blank"></a>
        <a id="bathy-proj"></a>
        <a id="rsn-proj" href="http://www.interactiveoceans.washington.edu/story/The_OOI_RSN_Cable_System" target="_blank"></a>
        <a id="museums-proj" href="http://geology.cofc.edu/natural-history-museum#tertiary-header" target="_blank"><div></div></a>
        <a id="boyd-law-proj" href="http://www.boydlegalpllc.com/" target="_blank"></a>
    </div>
    <div class="project-detail-wrapper close"></div>
</main>

{% include footer.html %}
